[submodule "invalidplayerx"]
	path = invalidplayerx
	url=https://bitbucket.org/saki_saki/invalidplayerx.git

	
[submodule "SYEngine"]
	path = SYEngine
	url=https://github.com/amamiya/SYEngine.git
	
	
[submodule "cppparsers"]
	path = cppparsers
	url = https://bitbucket.org/qife/cppparsers.git
